{deps, [
        {lager, {git, "https://github.com/erlang-lager/lager"}},
        {cowboy, {git, "https://github.com/ninenines/cowboy"}},
        {jsx, {git, "https://github.com/talentdeficit/jsx"}},
        {parsexml, {git, "https://github.com/maxlapshin/parsexml"}},
        {pqueue, {git, "https://github.com/okeuday/pqueue"}},
        {yamerl, {git, "https://github.com/yakaz/yamerl"}}
       ]
}.


{root_dir, "."}.

{eunit_compile_opts, [{d,'EUNIT_TEST',true}]}.

{erl_opts, [debug_info, 
            {parse_transform, lager_transform},
            {lager_extra_sinks, [verbose]}]}.

{dialyzer, [{warnings, [unknown]}]}.

{xref_warnings,false}.
{xref_extra_paths,[]}.
{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              exports_not_used,deprecated_function_calls,
              deprecated_functions]}.


{relx, [{sys_config, "sys.config"},
        {release, {sp, "0.1"}, [sp]},
        {extended_start_script, true},
        {dev_mode, true},
        {include_src, false},
        {overlay, [{mkdir, "db"}]}
]}.

{profiles, [
    {test, [
        {deps, [meck]},
        {erl_opts, [{d, 'TEST'}]}
    ]}
]}.

