[{lager, [
  {colored, true},
  {handlers, [
    {lager_console_backend, info},
    {lager_common_test_backend, info},
    {lager_file_backend, [{file, "log/info.log"}, {level, info}]},
    {lager_file_backend, [{file, "log/console.log"}, {level, debug}]}
  ]},
  {extra_sinks,
   [
    {verbose_lager_event,
     [{handlers,
       [{lager_file_backend,
         [{file, "log/verbose.log"},
          {level, info}
         ]
        }]
      },
      {async_threshold, 500},
      {async_threshold_window, 50}]
    }]
  }
]}].
